HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/maIN/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settINgs
.sprINgBeans
.sts4-cache
bIN/
!**/src/maIN/**/bIN/
!**/src/test/**/bIN/

### INTelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/maIN/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
